<?xml version="1.0"?>
<sdf version="1.6" xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:arg name="traj_path" default="test_motion.bin" />
   <xacro:arg name="velocity" default="2.0" />
   <xacro:arg name="skin_file" default="walk2.dae" />
   <xacro:arg name="walk_file" default="walk2.dae"/>
   <xacro:arg name="anim_f" default="standing.dae"/>
   <xacro:arg name="anim_t" default="-1"/>
   <xacro:arg name="pace" default="1.0"/>
	<actor name="actor_walking">
		<pose>0 0 0 0 0 0</pose>
		<skin>
			<filename>file:human_models/$(arg skin_file)</filename>
		</skin>
		<plugin filename="CommandActor"
	          name="command_actor::CommandActor">
	          <traj>
	          		<path>human_models/$(arg traj_path)</path>
	          		<velocity>$(arg velocity)</velocity>
	          		<pace>$(arg pace)</pace>
	          </traj>
	          <anim_t>$(arg anim_t)</anim_t>
	  	</plugin>
		<animation name="walk">
			<filename>file:human_models/$(arg walk_file)</filename>
			<interpolate_x>true</interpolate_x>
		</animation>
		<animation name="anim">
			<filename>file:human_models/$(arg anim_f)</filename>
			<interpolate_x>true</interpolate_x>
		</animation>
	</actor>
</sdf>
